$bg-color: #dddcdc;
$active-bg-color: #d3d3d3;
$dark-bg-color: #2c2c2c;
$dark-active-bg-color: #444;
$dark-toggle-circle: #fff;

.toggle-btn {
    width: 40px;
    height: 20px;
    background-color: $bg-color;
    border: none;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    padding: 2px;
  
    .toggle-circle {
      width: 17px;
      height: 17px;
      background: white;
      border-radius: 50%;
      position: absolute;
      left: 2px;
      transition: 0.3s;
    }
  
    &.active {
      background-color: $active-bg-color;
  
      .toggle-circle {
        left: 20px;
      }
    }

    &.dark {
      background-color: $dark-bg-color;

      .toggle-circle {
        background: $dark-toggle-circle;
      }

      &.active {
        background-color: $dark-active-bg-color;
      }
    }
}
