$primary-bg: #f0f0f0;
$primary-color: #333;
$primary-font: "Fira Code", monospace;

$secondary-color: #d8d8d8;
$dark-primary-bg: #1e1e1e;
$dark-primary-color: #eee;
$dark-secondar-bg: #2b2b2b;

.widget {
    background-color: $primary-bg;
    color: $primary-color;
    font-family: $primary-font;
    border-radius: 10px;
    padding: 20px;
    height: 200px;
    width: 200px;
    &.dark{
        background-color: $dark-primary-bg;
        color: $dark-primary-color;
    }

}
.resize-handle {
    position: absolute;
    background: transparent;
    z-index: 10;
  
    &.top-left,
    &.top-right,
    &.bottom-left,
    &.bottom-right {
      width: 16px;
      height: 16px;
      z-index: 20;

    }
  
    &.top-left {
      top: 0;
      left: 0;
      cursor: nwse-resize;
    }
  
    &.top-right {
      top: 0;
      right: 0;
      cursor: nesw-resize;
    }
  
    &.bottom-left {
      bottom: 0;
      left: 0;
      cursor: nesw-resize;
    }
  
    &.bottom-right {
      bottom: 0;
      right: 0;
      cursor: nwse-resize;
    }
  
    &.top {
      top: 0;
      left: 0;
      width: 100%;
      height: 8px;
      cursor: ns-resize;
    }
  
    &.bottom {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 8px;
      cursor: ns-resize;
    }
  
    &.left {
      top: 0;
      left: 0;
      width: 8px;
      height: 100%;
      cursor: ew-resize;
    }
  
    &.right {
      top: 0;
      right: 0;
      width: 8px;
      height: 100%;
      cursor: ew-resize;
    }
  }
  